// Grid settings
	$main-sm-columns:       12;
	$sidebar-sm-columns:    4;

// Colors
	$color-brand:						#004037;
	$color-secondary:				#004037;
	$color-text:						#004037;


// Typography
	$font-body:							'Arial', Helvetica, 'sans-serif';
	$font-headline:					'Arial', Helvetica, 'sans-serif';

// Breakpoints
	$break-xs:				575px;
	$break-sm:				767px;
	$break-md:				991px;
	$break-lg:				1200px;
